/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #244751;
  background-color: #eee;
}

main.container {
  width: 450px;
  background-color: white;
  margin: 80px auto auto auto;
  padding: 2em;
}

