#nav-bar {
  z-index: 1;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  position: fixed;
  top: 0;
}

#nav-bar .logo {
  width: 80px; 
  height: 80px;
  float: left;
}

#nav-bar .header{
  padding-left: 10px;
  float: left;
  font-size: 2em;
  line-height: 80px;
}

#nav-bar .compose-btn{
  width: 130px;
  border-radius: 11px;
  margin: 8px 25px;
  height: 65px;
  border: 2px solid #808080;
  float: right;
  background-color: #e6ffff;
}

#nav-bar .compose-btn:hover{
  width: 130px; 
  height: 65px;
  float: right;
  background-color: #ffffff;
}